.navbar {
  display: flex;
  justify-content: center;
  padding-bottom: 25px;
}

.logo {
  width: 200px;
  align-self: center;
}

.icons {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.icons .nav-icons {
  width: 2.5rem;
  padding: 5px;
}

.add {
  float: right;
  margin-top: 10px;
}

#menu {
  display: none;
  position: absolute;
  top: 60px;
  right: 10px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
}

#menu .menu-item {
  display: block;
  text-decoration: none;
}

/* Larger than mobile */
@media (min-width: 320px) {
  .logo {
    width: 250px;
  }
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
  .icons .nav-icons {
    width: 3rem;
  }
  .logo {
    width: 400px;
  }
  #menu {
    top: 90px;
  }
}

/* Larger than tablet */
@media (min-width: 750px) {
  .navbar {
    flex-direction: column;
  }
  .logo {
    width: 400px;
  }
  .icons {
    margin-left: 0px;
    align-self: center;
  }
  .icons .nav-icons {
    display: none;
  }
  #menu {
    position: initial;
    display: block;
    border: none;
  }
  #menu .menu-item {
    display: inline;
  }
}

/* Larger than desktop */
@media (min-width: 1000px) {
  .logo {
    width: 450px;
  }
}
