<h2>Welcome to Budgeter.</h2>
<p>Budgeter is a personal finance tool to help you stay on track with your savings goals.</p>

<iframe src="https://giphy.com/embed/xTiTnqUxyWbsAXq7Ju" width="400" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p></p>

<h4>Features</h4>
<ul>
    <li>Create as many budgets as you want.</li>
    <li>Categorize expenses however you like within each budget.</li>
    <li>Track purchases inside your budgets. Budgeter will tell you how you're doing. </li>
</ul>

<h6><a href="{% url 'signup' %}">Sign up</a> to start budgeting, or <a href="{% url 'login' %}">login</a> to your account.</h6>