{% extends 'base.html' %}
{% load budgeter_extras %}

{% block title %}Budgets{% endblock %}

{% block content %}
<h6> <a href="{% url 'home' %}">Budgets</a> - {{ pk | title }}</h6>
<h2>{{ pk | title }} <button class="edit button-primary">Edit</button></h2>
<h4>Funds remaining: {{ pk.get_remaining_funds | currency }} </h4>

<h3>Expenses <a class="add button button-primary" href="{% url 'add-expense' pk.id %}">Add +</a></h3>
{% if not object_list %}
    <p>No expense categories under this budget yet! Add some</p>

{% else %}
    <table>
        <tr>
            <th>Name</th>
            <th>Budgeted Amount</th>
            <th>Tracked Purchases</th>
            <th>Total Spent</th>
            <th>Over/Under</th>
        </tr>
        {% for expense in object_list %}
            <tr>
                <td><a href="/expense/{{ expense.id }}">{{ expense.name }}</a></td>
                <td>{{ expense.amount | currency }}</td>
                <td>{{ expense.get_purchases.0 }}</td>
                <td>{{ expense.get_purchases.1 | currency }}</td>
                <td>{{ expense.net | currency }}</td>
                <td class="edit-mode">Edit</td>
                <td class="edit-mode">Delete</td>
            </tr>
        {% endfor %}
    </table>

    <a class="edit-mode delete button" href="{% url 'delete-budget' pk.id %}">Delete</a>
    <button class="edit-mode button-primary" onclick="">Cancel</button>
{% endif %}

{% endblock %}
