{% extends 'base.html' %}
{% load budgeter_extras %}

{% block title %}Expense{% endblock %}

{% block content %}
<h6><a href="{% url 'home' %}">Budgets</a> - <a href="{% url 'budget-detail' pk.budget.id %}">{{ pk.budget | title }}</a> - {{ pk }}</h6>
<h2>{{ pk }}</h2>
<h3>Goal: {{ pk.amount | currency }}</h3>

<h3>Tracked Purchases <a class="add button button-primary" href="{% url 'track-purchase' pk.id %}">Add +</a></h3>
{% if not object_list %}
    <p>No tracked purchases for this expense yet! Click the "Add" button to get tracking. </p>

{% else %}
    <table>
        <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Amount</th>
        </tr>
        {% for purchase in object_list %}
            <tr>
                <td>{{ purchase.name }}</td>
                <td>{{ purchase.date }}</td>
                <td>{{ purchase.amount | currency }}</td>
                <td><a href="">Delete</a></td>
            </tr>
        {% endfor %}
    </table>
{% endif %}

<h3>Net: {{ pk.net | currency }}</h3>

{% endblock %}
