{% extends 'base.html' %}
{% load budgeter_extras %}

{% block content %}

{% if user.is_authenticated %}
    <h4>Welcome back, {{ user.username }}!</h4>

    <h2>Your Budgets 
        <div class="edit-buttons">
            <button id="create-budget" class="button button-primary" type="button">Add +</button>
        </div>
    </h2>

    {% if not object_list %}
    <p>No budgets have been created yet. Make one using the "Add" button above!</p>

    {% else %}
        <table>
            <tr>
                <th>Name</th>
                <th>Funds Remaining</th>
                <th>Budgeted Expenses</th>
                <th>Tracked Purchases</th>
            </tr>
            {% for budget in object_list %}
                <tr>
                    <td><a href="/budgets/{{ budget.id }}">{{budget.name}}</a></td>
                    <td>{{ budget.get_remaining_funds | currency }}</td>
                    <td>{{ budget.get_number_expenses }}</td>
                    <td>{{ budget.get_number_purchases }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

{% else %}
    {% include 'about.html' %}
{% endif %}

{% endblock %}