.navbar {
    border-radius: 10px;
    border: 1px solid lightgray;
    margin: 10px 0px 25px 0px;
}

.logo {
    width: 200px;

    @media (min-width: 600px) {
        width: 300px;
    }

    @media (min-width: 1000px) {
        width: 500px;
    }
}

.giphy-embed {
    width: 300px;
    height: 300px;

    @media (min-width: 600px) {
        width: 400px;
        height: 400px;
    }

    @media (min-width: 1000px) {
        width: 500px;
        height: 500px;
    }
}

.icons {
    display: flex;
    align-items: center;
    margin-left: auto;    
}

.edit-buttons {
    display: inline;
    float: right;
}

.edit-links {
    color: gray;
    font-size: 1.5rem;
    text-decoration: none;
    display: block;
}

.delete {
    color: red;
}

.delete:hover {
    transition: 0.25s;
    color: white;
    background-color: red;
}

.icons {
    height: 1.5rem;
}

.table-btn {
    height: auto;
    padding: 10px;
    margin-bottom: 0px;
}

.hidden {
    display: none;
}

.borderless {
    border: none;
    padding: 0px;
}
